{% extends 'base.html.twig' %}

{% block title %}Ajouter Livre{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau livre</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter le livre</button>
    {{ form_end(form) }}

    <a href="{{ path('book_index') }}">Retour à la liste</a>
{% endblock %}
